* {
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

#aboutme{
    background-color: #E5E4E4;
    color: black;
}

#contact{
    background-color: #111010;
    color: white;
}

#contact2{
    background-color: #E5E4E4;
}

#footer{
	display: grid;
	background-color: #111010;
	color: white;
	text-align: center;
}

#gallery{
    background-color: #111010;
    color: #E5E4E4
}

#home{
    background-color: #111010;
    color: white;
}

#moreaboutme{
    background-color: #111010;
    color: white;
}

#port1{
    background-color: #E5E4E4;
    color: black;
}

#port2{
    background-color: #111010;
    color: white;
}

#portfolio{
    background-color: #E5E4E4;
}

#portfolio2{
    background-color: #E5E4E4;
}

#skills{
    background-color: #E5E4E4;
}

#topbar{
    overflow: hidden;
    background: #111010;
    width: 100%;
    top: 0;
    position: fixed;
    padding: 5px;
}

.button{
    background-color: #4e4e6b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all ease 0.5s;
}

.button:hover{
	background-color: #bfc1c5;
	color: black;
}

.center{
    text-align: center;
}

.column1{
    max-width: 30%;
    padding: 14px;
}

.column2{
    max-width: 30%;
    padding: 14px;
}

.column3{
    max-width: 30%;
    padding: 14px;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-instagram{
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.form{
    height: 220px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #111010;
    padding: 10px;
    grid-gap: 10px;
}

.grid-item{
    background-color: rgb(77, 40, 40);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.navbar{
	width: 100%;
	padding: 16px;
	text-align: center;
}
.navbar li{
	width: 16.66%;
	display: inline-block;
	font-weight: bold;
}
.navbar li a{
	color: white; 
	text-decoration: none;
}

.padding-8 {
    padding: 8px;
}

.padding-16 {
    padding: 16px;
}

.padding-32 {
    padding: 32px;
}

.padding-64 {
    padding: 64px;
}

.padding-128 {
    padding: 128px;
}
.row:after{
    content: '';
    clear: both;
    display: block;
    margin: 0px;
}

.row div{
    float: left;
}

.row div1{
    text-align: center;
}

.square{
	width: 256px;
	height: 256px;
	padding: 8px;
    margin: 50px
}

.square:hover{
    transform: scale(1.5);
	transition: all 0.3s;
}

.text{
    background-color: #E5E4E4;
    float: left;
    margin: 60px;
    line-height: 1.6;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 18px;
}

img{
    width: 256px;
    height: 256px;
}

table {
    border: 1px solid black;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
}

table tr {
    border: 2px solid black;
    padding: 5px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    table td:last-child {
        border-bottom: 0;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}

/*For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: (ukuran layar lebih besar dari 600px) */
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%}
    .col-m-4 {width: 33.33%}
    .col-m-5 {width: 41.66%}
    .col-m-6 {width: 50%}
    .col-m-7 {width: 58.33%}
    .col-m-8 {width: 66.66%}
    .col-m-9 {width: 75%}
    .col-m-10 {width: 83.33%}
    .col-m-11 {width: 91.66%}
    .col-m-12 {width: 100%}
}

@media only screen and (min-width: 768px) {
    /* For desktop: (ukuran layar lebih besar dari 768px) */
    .col-1 {width: 8.33%}
    .col-2 {width: 16.66%}
    .col-3 {width: 25%}
    .col-4 {width: 33.33%}
    .col-5 {width: 41.66%}
    .col-6 {width: 50%}
    .col-7 {width: 58.33%}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%}
    .col-10 {width: 83.33%}
    .col-11 {width: 91.66%}
    .col-12 {width: 100%}
}
